<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=yes, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Connseed - Light&Powerful Smart Farming Solution</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <link href="/static/css/fb.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <style>
        .bar rect {
            fill: rgba(255, 245, 70, 1);
        }

        .bar text {
            fill: #000;
            font: 10px sans-serif;
        }
        body {
            height: 100%;
            margin: 0;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0;
            width: 100%;
            background: url(/static/bg.png) repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/" style="color:white; font-size:30px">
                        Connseed.
                    </a>
                </li>
                <li>
                    <a href="/profile">계정</a>
                </li>
                <li>
                    <a href="/device">디바이스 관리</a>
                </li>
                <li>
                    <a href="/monitoring">모니터링</a>
                </li>
                <li>
                    <a href="/analysis">프리미엄 분석</a>
                </li>
            </ul>


            <a href="#menu-toggle" class="float" id="menu-toggle" style="color:white;">
                <br />
                ' '
            </a>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 style="font-size:50px; color:white">Premium Analysis</h1>
                        <p style="font-size:20px; color:white">This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</pstyle="font-size:30px;>
                        <p style="color:white">Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>


                        <div id="graph"></div>

                        <a href="#" class="float">
                            <i class="fl"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").on('click', function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script>
        $("#close").on('click', function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script>
        $("#re").on('click', function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script>
        var date = new Date();
        var errorflag = 0;
        var TEMarray = [0, 0, 0, 0, 0];
        var HUMarray = [0, 0, 0, 0, 0];
        var WTRarray = [0, 0, 0, 0, 0];
        var LUXarray = [0, 0, 0, 0, 0];
        jQuery(document).ready(function ($) {
            $.ajax({
                url: "http://169.56.126.151/data/getstatisticaldata_day?device=1&date=2017-07-09",
                dataType: "json",
                type: "GET",
                json: "callback",
                success: function (r) {
                    for(i=0; i<r.length; i++){
                        TEMarray[i] = r[i].Temperature;
                        HUMarray[i] = r[i].Humidity;
                        WTRarray[i] = r[i].Wtr;
                        LUXarray[i] = r[i].Lux;
                    }
                },
                error: function(request, status, error){
                    if(errorflag == 0){
                        alert("네트워크가 좋지 않습니다.\n네트워크 연결을 확인해주세요.");
                        errorflag = 1;
                     }
                }
             });
         });

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawVisualization);
        function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
            ['날짜', '온도', '습도', '수분량', '광량'],
            ['2017/07/05',  TEMarray[4], HUMarray[4], WTRarray[4], LUXarray[4]],
            ['2017/07/06',  TEMarray[3], HUMarray[3], WTRarray[3], LUXarray[3]],
            ['2017/07/07',  TEMarray[2], HUMarray[2], WTRarray[2], LUXarray[2]],
            ['2017/07/08',  TEMarray[1], HUMarray[1], WTRarray[1], LUXarray[1]],
            ['2017/07/09',  TEMarray[0], HUMarray[0], WTRarray[0], LUXarray[0]]
        ]);

         var options = {
             annotations: {
                textStyle: {
                    color: "#FFFFFF"
                }
             },
             titleTextStyle: {
                color: "#FFFFFF"
             },
             legendTextStyle: {color:'#FFFFFF'},
             vAxis: {
                textStyle: {color: "#FFFFFF"},
                titleTextStyle: {
                    color: "#FFFFFF"
                },
                gridlines: {
                    color: "#FFFFFF"
                },
                baselineColor: "#FFFFFF"
             },
             hAxis: {
                textStyle: {color: "#FFFFFF"},
                gridlines: {
                    color: "#FFFFFF"
                }
             },
             backgroundColor: {
                'fill': '#32321e',
                'fillOpacity': 0.85
             },
             titleTextStyle: {
                color: "#FFFFFF"
             },
             seriesType: 'bars',
             series: {4: {type: 'line', color: '#FFFFFF'}}
         };

         var chart = new google.visualization.ComboChart(document.getElementById('graph'));
         chart.draw(data, options);
    }
    </script>
</body>
</html>
